.hover{
     position:absolute;
     background-color: rgba(0,0,0,0.1);
     height:30px;
     opacity:0;
     border-radius: 10px;
     z-index:-1;
     transition: all cubic-bezier(0.77, 0, 0.175, 1)0.7s;
}
.nav-link a.nth-child(1):hover ~ .hover{
    width:85px;
    opacity:1;
    left:0;
}